%pip install PyQt5
%pip install matplotlib
%pip install keras==2.15.0
%pip install tensorflow==2.15.0
%pip install scikit-learn
%pip install pandas
%pip install opencv-python
%pip install transformers